{% paginate  collection.products by 12%}

{% assign productCount = collection.all_products_count | minus: paginate.current_offset %}
 
<div class="{% if section.settings.is_full_width %}" container-fluid {% else %} container {%endif%} vh-100>
 <header role="banner"
     class="d-flex align-item-center"
     style="min-height: {{section.settings.header_align}}px;">
     <div class="w-100">
        <h1 class="text-{{section.settings.header_align}}"> {{collection.title}}</h1>
        {% if section.description != blank %}
        
     </div>
 </header>
</div>

{% endpaginate %}


